<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjmzxfzhl.common.core.config.mybatis.permission.mapper.CommonDataPermissionMapper">

    <select id="selectDataPermissions"
            parameterType="com.zjmzxfzhl.common.core.config.mybatis.permission.CommonDataPermissionVO"
            resultType="com.zjmzxfzhl.common.core.config.mybatis.permission.CommonDataPermissionVO">
        select
        a.METHOD_ID as methodId,
        a.ENTITY_TYPE as entityType,
        a.ENTITY_ID as entityId,
        a.TABLE_NAME as tableName,
        a.CLASS_NAME as className,
        a.COLUMN_NAME as columnName,
        a.SOURCE_STRATEGY as sourceStrategy,
        a.OPERATE as operate,
        a.VALUE as value,
        a.SOURCE_PROVIDER as sourceProvider,
        a.SOURCE_PROVIDER_PARAMS as sourceProviderParams

        from ${tableName} a
        where a.METHOD_ID = #{methodId} AND a.SOURCE_STRATEGY = #{sourceStrategy}
        <if test="roleId != null and roleId !=''">
            <![CDATA[	AND ((a.ENTITY_TYPE = '1' and a.ENTITY_ID = #{roleId}) or (a.ENTITY_TYPE = '2' and a.ENTITY_ID = #{userId}))	]]>
        </if>
        <if test="roleId == null or roleId ==''">
            <![CDATA[	AND a.ENTITY_TYPE = '2' and a.ENTITY_ID = #{userId}	]]>
        </if>
        <if test="tableNames != null &amp;&amp; tableNames.length &gt; 0">
            and a.TABLE_NAME IN
            <foreach item="tableName" index="index" collection="tableNames"
                     open="(" separator="," close=")">
                #{tableName}
            </foreach>
        </if>
        order by a.UPDATE_TIME
    </select>

</mapper>
