<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zjmzxfzhl.modules.sys.mapper.SysPostMapper">

    <!-- 多表查询:根据条件得到多条记录List(查询条件按需修改!) -->
    <select id="list" resultType="com.zjmzxfzhl.modules.sys.entity.SysPost">
        select
        a.POST_ID as postId,
        a.POST_NAME as postName,
        a.SORT_NO as sortNo,
        a.REMARK as remark,
        a.CREATE_BY as createBy,
        a.CREATE_DATE as createDate,
        a.CREATE_TIME as createTime,
        a.UPDATE_BY as updateBy,
        a.UPDATE_DATE as updateDate,
        a.UPDATE_TIME as updateTime

        from T_SYS_POST a
        where 1=1
        <if test="entity.postId != null and entity.postId !=''">
            <![CDATA[	AND a.POST_ID = #{entity.postId}	]]>
        </if>
        <if test="entity.postName != null and entity.postName !=''">
            <![CDATA[	AND a.POST_NAME = #{entity.postName}	]]>
        </if>
        order by a.SORT_NO
    </select>

    <select id="getPostUser" resultType="com.zjmzxfzhl.modules.sys.entity.SysUser">
        select
        a.USER_ID as userId,
        a.USER_NAME as userName,
        a.ORG_ID as orgId,
        o.ORG_NAME as orgName
        from T_SYS_USER a
        join T_SYS_ORG o ON o.org_id=a.org_id
        join T_SYS_POST_USER pu on pu.user_id=a.user_id
        where 1=1
        <if test="entity.postId != null and entity.postId !=''">
            <![CDATA[	AND pu.post_id = #{entity.postId}	]]>
        </if>
        <if test="entity.userId != null and entity.userId !=''">
            <![CDATA[	AND a.user_id = #{entity.userId}	]]>
        </if>
        <if test="entity.userName != null and entity.userName !=''">
            <![CDATA[	AND a.USER_NAME = #{entity.userName}	]]>
        </if>
        {{authFilterSql}}
    </select>

    <!-- flowable查询用户角色使用 -->
    <select id="getPostsByFlowableGroupQueryImpl" resultType="com.zjmzxfzhl.modules.sys.entity.SysPost">
        select r.POST_ID as postId,
        r.POST_NAME as postName,
        r.SORT_NO as sortNo,
        r.REMARK as remark
        from t_sys_post r
        <where>
            <if test="id != null">
                r.post_id = #{id}
            </if>
            <if test="ids != null &amp;&amp; ids.size() &gt; 0">
                and r.post_id IN
                <foreach item="id" index="index" collection="ids"
                         open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="name != null">
                and r.post_name = #{name}
            </if>
            <if test="nameLike != null">
                and r.post_name like #{nameLike}${wildcardEscapeClause}
            </if>
            <if test="nameLikeIgnoreCase != null">
                and lower(r.post_name) like #{nameLikeIgnoreCase}${wildcardEscapeClause}
            </if>
            <!-- <if test="type != null">
              and RES.TYPE_ = #{type}
            </if> -->
            <if test="userId != null">
                and exists(select 1 from T_SYS_POST_USER m where m.post_id = r.post_id and M.USER_ID = #{userId})
            </if>
            <if test="userIds != null &amp;&amp; userIds.size() &gt; 0">
                and exists(select 1 from T_SYS_POST_USER m where m.post_id = r.post_id and M.USER_ID in
                <foreach item="userId" index="index" collection="userIds" open="(" separator="," close=")">
                    #{userId}</foreach>)
            </if>
        </where>
    </select>
</mapper>
